body {
  background-color: black;
  margin: 5px auto;
  width: 80vw;
}

.blog-body {
  width: 80vw;
  margin: 50px 5px;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 20px;
}
.blog-heading {
}
.blog-text {
}
.single-blog-heading {
  color: white;
  padding: 10px 20px;
}
.single-blog-body {
  color: white;
  padding: 10px 20px;
}
.home-btn {
  border: 1px solid white;
  cursor: pointer;
  color: white;
  padding: 15px 20px;
  background-color: black;
}
